﻿@{
    ViewBag.Title = "Home Page";
}
<script src="~/Scripts/angular.min.js"></script>
<script src="~/Scripts/app/dictionary.js"></script>

<div class="row">
    <div class="jumbotron">
        <h1 class="text-center">
            <span class="glyphicon glyphicon-book"></span> My Dictionary
        </h1>
        <div class="row">
            <div class="col-md-12">
                <p class="text-center">
                    This is a simple dictionary that allows users to create their own custom definitions. <br /> This site was created using AngularJS and Web API 2.
                </p>
            </div>
        </div>
    </div>
</div>

<div ng-app="myDictionary">

    <div class="row">
        <div class="col-sm-4 pull-right">
            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                <input type="text" class="form-control" ng-model="searchFilter" placeholder="Search Dictionary...">
            </div>
        </div>
    </div>
    
    <div ng-controller="DictionaryController" class="container">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Word</th>
                <th>Explanation</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="phrase in phrases | filter:searchFilter">
                <td>{{phrase.Word}}</td>
                <td>{{phrase.Explanation}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>