﻿<div class="jumbotron">
    <h1 class="text-center"><span class="glyphicon glyphicon-home"></span> My Dictionary API
    </h1>
    <div class="row">
        <div class="col-md-12">
            <p class="text-center">Simple dictionary API that allows users to perform basic CRUD actions. <br>See API documentations for more details.</p>
        </div>
    </div>
</div>